.container {
  width: 200px;
  height: 250px;
  background: var(--color-secondary);
  border-radius: 16px;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  overflow: hidden;
  white-space: wrap;
}
.title {
  /* font size with react-fitText */
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  font-size: calc(100% - 1vmin);
}
.description {
  font-size: 0.5rem;
  color: var(--fc-secondary);
}

.poster {
  object-fit: contain;
  height: 80%;
}
