.container {
  grid-row: 3/ 12;
  grid-column: 1/-1;
  padding: 0.5em;
  /* COLLECTIONS GRID */
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
}
.collectionsContainer {
  grid-column: 1/5;
  grid-row: 1/-1;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, auto));
  gap: 1em;
  justify-content: center;
}

.bookShowcaseContainer {
  min-width: 316px;
  grid-column: 5/7;
  grid-row: 1/-1;
  border: 1px solid var(--color-borders);
  background: var(--color-background);
  box-shadow: 1px 3px 9px 2px #49494998;
  border-radius: 21px;
  margin: 0 1em;
  padding: 0.5em;
  position: absolute;
  top: -35px;
  bottom: 10px;
}
