.container {
  grid-row: 3/ 12;
  grid-column: 1/-1;
  padding: 0.5em;
  /* COLLECTIONS GRID */
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(12, 1fr);
  position: relative;
}
.collectionsContainer {
  grid-column: 1/5;
  grid-row: 1/-1;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, auto));
  gap: 1em;
  justify-content: center;
}

