.container{
   grid-row: 3/ 12;
   grid-column: 1/-1;
   background: gray;

   /* COLLECTIONS GRID */
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: repeat(12, 1fr);
   position: relative;
}
.collectionsContainer{
   grid-column: 1/5;
   grid-row: 1/-1;
   border: 1px solid red;
}
.bookShowcaseContainer{
   grid-column: 5/7;
   grid-row: 1/-1;
   border: 5px solid blue;
   position: absolute;
   top: -10px;
   bottom: 10px;
}